numpy
#pandas==0.25.1
scikit-learn
matplotlib
seaborn
jupyter
swifter
feather-format
dask
# tensorflow==1.10
#keras==2.2.2
#imbalanced-learn
#cx-Oracle
#Flask
#dask
#dask-ml
#lightgbm
# sqlalchemy
#xlrd
#asyncio
#schedule

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

###--###
# This is a command
#Use pip install -r example-requirements.txt to install:
#
####### example-requirements.txt #######
#
###### Requirements without Version Specifiers ######
#nose
#nose-cov
#beautifulsoup4
#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
#docopt == 0.6.1             # Version Matching. Must be version 0.6.1
#keyring >= 4.1.1            # Minimum version 4.1.1
#coverage != 3.5             # Version Exclusion. Anything except version 3.5
#Mopidy-Dirble ~= 1.1        # Compatible release. Same as >= 1.1, == 1.*
#
###### Refer to other requirements files ######
#-r other-requirements.txt
#
#
###### A particular file ######
#./downloads/numpy-1.9.2-cp34-none-win32.whl
#http://wxpython.org/Phoenix/snapshot-builds/wxPython_Phoenix-3.0.3.dev1820+49a8884-cp34-none-win_amd64.whl
#
###### Additional Requirements without Version Specifiers ######
#   Same as 1st section, just here to show that you can put things in any order.
#rejected
#green
#
#######################################################################
# For virtualenv to install all files in the requirements.txt file.
#
#   cd to the directory where requirements.txt is located
#   activate your virtualenv
#   run:  pip install -r requirements.txt in your shell
